In [7]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib as mpl 
import os
import csv

In [3]:
df = pd.read_csv("tot_nat.csv")

In [5]:
df.head()

,subject,native_lang,context,mat_verb,wh,emb_verb,list,tense,response
0,8587,EN,MST,predict,where,find,blue,nonfinite,1.0
1,9541,EN,MST,predict,where,find,blue,nonfinite,1.0
2,8602,EN,MST,predict,where,find,blue,nonfinite,1.0
3,9421,EN,MST,predict,where,find,blue,nonfinite,1.0
4,9634,EN,MST,predict,where,find,blue,nonfinite,1.0

In [8]:
sns.set_palette(sns.cubehelix_palette(5, start=.75, rot=-.75))